@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/*Inicio da Header*/
#headerBox{
    position: fixed;
    z-index: 9;
    width: 100%;
    background: #fff;
    display: flex;
    padding: 0 2.9%;
    justify-content: space-around;
    border-bottom: #0000001A solid 1px;
    box-shadow: #0000001A  0px 0px 22px 4px;
}
@media screen and (max-width: 425px){
    #headerBox{
        height: 3rem;
        z-index: 999;
    }
}

/*Inicio parte da logo*/
.boxLogo{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 20%;
}
@media screen and (max-width: 425px){
    .boxLogo{
        width: 28%;     
    }
}

.logo{
    width: 50%;
    cursor: pointer;
}
@media screen and (max-width: 425px){
    .logo{
        width: 87%;;
    }
}
/*Fim parte da logo*/

/*Navegação da Header*/
#nav{
    width: 50%;
    display: flex;
}
@media screen and (max-width: 425px){
    #nav{
        display: none;
    }
    
#headerBox.active #nav{
    display: flex;
    position: fixed;
    height: 50vw;
    width: 100%;
    background: #fff;
    margin-top: 11.5%;
    border-bottom: #0000001A solid 1px;
    box-shadow: #0000001A  0px 0px 22px 4px;
    }
}
/*Fim navegação da Header*/

/*Botão Menu do mobile*/
@media screen and (max-width: 425px){
    #boxBtnMenu{
        width: 23%;
        display: flex;
        justify-content: flex-end;
    }
}

#btnMenu{
    display: none;
}
@media screen and (max-width: 425px){
    #btnMenu{
        display: block;
        width: 20%;
    }
}
/*Botão Menu do mobile*/

/*Lista da nav da Header*/
#boxList{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 320%;

}
@media screen and (max-width: 425px){
    #boxList{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: flex-end;
        flex-direction: column-reverse;
        height: 50vw;
    }
}

.linkHeader1{
    font-size: 1.2vw;
    text-transform: uppercase;
}

.listHeader{
    font-size: 1.5vw;
    width: 24%;
}
@media screen and (max-width: 425px){
    .listHeader{
        font-size: 4vw;
        width: 35%;
        height: 8vw;
    }
    .linkHeader1{
        font-size: 3vw;
    }
}

.linkHeader, .linkHeader1{
    color: #25294C;
}
/*Fim da lista da nav da Header*/

/*Botões da Header*/
#boxBtnEnter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 197%;
    height: 5vw;
}
@media screen and (max-width: 425px){
    #boxBtnEnter {
        height: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

.btnEnter{
    font-weight: bold;
    border: none;
    border-radius: 5px;
    color: #25294C;
    background: #FFCE06;
    cursor: pointer;
    font-size: 1vw;
    width: 68%;
    height: 3vw;
    transition: 0.5s all;
}
.btnEnter:hover{
    transform: scale(1.1);
}
@media screen and (max-width: 425px){
    .btnEnter{
        margin: -9% 0 4% -153%;
        width: 71%;
        font-size: 3vw;
        height: 7vw;
    }
}

.btnLinguage{
    padding: 3%;
    font-size: 1vw;
    border: solid 1px #25294C;
    color: #25294C;
    border-radius: 73px;
    text-transform: uppercase;
    font-weight: bolder;
    cursor: pointer;
}
@media screen and (max-width: 425px){
    .btnLinguage{
        margin-left: -154%;
    }
}
/* Fim botões da Header*/
/*Fim da Header*/

/*Inicio da Main*/

/*Primeira caixa da main*/
.boxAllthings{
    display: flex;
    align-items: center;
    width: 100%;
    height: 45vw;
}
@media screen and (max-width: 425px){
    .boxAllthings{
        height: 130vw;
        position: relative;
    }
}
/*Caixa com Titulo, paragraph e o botão*/
.boxCollective{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
}
@media screen and (max-width: 425px){
    .boxCollective{
        height: 120vw;
        width: 70%;
        margin-top: 34%;
        display: flex;
        justify-content: space-between;
    }
}

.boxSubTitle{
    width: 110%;
    display: flex;
    margin: 0 0 5% 20%;
    z-index: 1;
    font-family: Roboto;
}
@media screen and (max-width: 425px){
    .boxSubTitle{
        margin-top: 9%;
        width: 98%;
    }
}

.subTitle{
    font-size: 4.9vw;
    color: #22254B;
}
@media screen and (max-width: 425px){
    .subTitle{
        font-size: 9vw;
    }
}

.boxParagraph{
    height: 9vw;
    width: 79%;
    margin: 0 20%;
}
@media screen and (max-width: 425px){
    .boxParagraph{
        margin-top: 21%;
        width: 174%;
        height: 68vw;
        display: flex;
        position: relative;
        flex-direction: column;
        overflow: hidden;
    }
}

@media screen and (max-width: 425px){
    .boxConnectMobile{
        display: flex;
        flex-direction: row-reverse;
    }
}

.paragraphConnect{
    color: #22254B;
    font-size: 2.1vw;
}
@media screen and (max-width: 425px){
    .paragraphConnect{
        text-align: start;
        font-size: 5.5vw;
        opacity: 0.8;
        width: 73%;
        margin-right: 28%;
    }
}

.boxBtnStart{
    display: flex;
    justify-content: left;
    width: 36%;
    height: 5vw;
    margin: 0 20%;
}
@media screen and (max-width: 425px){
    .boxBtnStart{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 165%;
        height: 26vw;
        margin-bottom: -50%;
    }
}

.btnStart{
    font-weight: bold;
    border: none;
    border-radius: 3px;
    background: #FFCE06;
    color: #25294C;
    cursor: pointer;
    font-size: 1vw;
    width: 68%;
    height: 3vw;
    transition: 0.5s all;
}
.btnStart:hover{
    transform: scale(1.1);
}
@media screen and (max-width: 425px){
    .btnStart{
        font-size: 3vw;
        width: 51%;
        height: 12vw;
        z-index: 99;
    }
}
/* Fim Caixa com Titulo, paragraph e o botão*/

/*Caixa das imagens*/
@media screen and (max-width: 425px){
    .boxImgsMobile{
        position: relative;
        width: 100%;
        height: 23vw;
        display: flex;
        justify-content: space-around;
    }
}

.imgMobile{
    display: none;
    width: 50%;
    position: absolute;
}

@media screen and (max-width: 425px){
    .imgMobile{
        display: flex;
    }
    .mb1{
        left: 62%;
        width: 52%;
        bottom: 5%;
    }
    .mb2{
        left: 91%;
        width: 33%;
        top: 11%;
    }
    .mb3{
        left: 41%;
        width: 21%;
        top: 55%;
    }
}

.boxImgOlho{
    display: flex;
    width: 50%;
    height: 30vw;
}
@media screen and (max-width: 425px){
    .boxImgOlho{
        width: 68%;
        overflow: hidden;
        height: auto;
        margin-bottom: 52%;
    }
}

.imgOlho{
    width: 95%;
}
@media screen and (max-width: 425px){
    .imgOlho{
        width: 260%;
        margin: 0 5%;
    }
}
/*Caixa das imagens*/
/*Fim da Primeira caixa da main*/

/*Segunda caixa da main*/
.boxAgile{
    background: linear-gradient(#fff, #fffae4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 18vw;
    position: relative;
    padding-bottom: 4vw;
}
@media screen and (max-width: 425px){
    .boxAgile{
        height: 77vw;
        margin-top: 35%;
    }
}

/*Grupo subtitulo e paragrafo*/
@media screen and (max-width: 425px){
    .boxTitleAgile{
        width: 100%;
        height: 21vw;
    }
}

.titleAgile{
    font-size: 3.5vw;
    color: #22254B;
    font-family: Roboto;
}
@media screen and (max-width: 425px){
    .titleAgile{
        font-size: 7.6vw;
        width: 75%;
        margin-left: 18%;
    }
}

.boxParagraphAgile{
    display: flex;
    align-items: center;
    text-align: center;
    width: 51%;
    height: 10vw;
}
@media screen and (max-width: 425px){
    .boxParagraphAgile{
        width: 100%;
        display: flex;
        justify-content: center;
        height: 31vw;
    }
}

.paragraphAgile{
    font-size: 1.5vw;
    color: #22254B;
}
@media screen and (max-width: 425px){
    .paragraphAgile{
        font-size: 4vw;
        width: 63%;
        text-align: start;
        margin-right: 1%;
    }
}
/*Grupo subtitulo e paragrafo*/

/*Navegação principal*/
.navigation{
    background: #fff;
    margin: 0 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 63%;
    height: 7vw;
    border: none;
    border-radius: 8px;
    position: absolute;
    bottom: -3.2vw;
    box-shadow: 0px 0px 3px 0px#22254B;
    
}

@media screen and (max-width: 425px){
    .navigation{
        border: solid 1px #22254B;
        width: 65vw;
        height: 20vw;
        bottom: -10vw;
        position: relative;
        overflow: hidden;
        justify-content: flex-start;
    }
}

.listGroup{
    border-radius: 7px;
    display: flex;
    width: 98%;
    height: 5.8vw;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width: 425px){
    .listGroup{
        position: absolute;
        width: 260vw;
            justify-content: flex-start;
        transition: .5s;
    }
}

.leftArrow, .rigthArrow{
    display: none;
}
@media screen and (max-width: 425px){
    .leftArrow{
        position: absolute;
        z-index: 2;
        left: 2%;
        display: flex;
        width: 7%;
    }
    .rigthArrow{
        z-index: 2;
        display: flex;
        position: absolute;
        right: 2%;
        width: 7%;
    }
}

.list{
    display: flex;
    align-items: center;
    width: 24%;
    justify-content: center;
    height: 5vw;
    text-align: center;
    padding: 0 2.7vw;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.4vw;
    color: #22254B;
}

@media screen and (max-width: 425px){
    .list{
        padding: 0;
        font-size: 5vw;
        width: 60vw;
        height: 11vw;
        margin: 0 6.2vw;
    }
}

.list:hover{
    background: #FFCE06;
    font-weight: bolder;
}
/*Fim Navegação principal*/
/*Segunda caixa da main*/

/*Caixa com o gif*/
.boxBlue{
    background: #22254B;
    width: 100%;
    height: 29vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3vw;
}
@media screen and (max-width: 425px){
    .boxBlue{
        height: 100vw;
    }
}

.boxGif{
    width: 50%;
    height: 20vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
@media screen and (max-width: 425px){
    .boxGif{
        width: 65%;
        height: 36vw;
        margin-bottom: 33%;
        margin-right: -50%;
    }
}

.gif{
    width: 60%;
}
@media screen and (max-width: 425px){
    .gif{
        width: 100%;
    }
}

.boxText{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: 20vw;
}
@media screen and (max-width: 425px){
    .boxText{
        height: 44vw;
        margin-bottom: -51%;
    }
}

.boxTitleGif{
    margin: 0 11%;
    width: 35%;
}

.titleGif{
    font-size: 2.7vw;
    color: #fff;
}
@media screen and (max-width: 425px){
    .titleGif{
        font-size: 7vw;
        width: 231%;
        margin-left: -121%;
    }
}

.boxParagraphGif{
    width: 40%;
    margin: 0 11%;
}

.paragraphGif{
    font-size: 1.5vw;
    color: #fff;
}
@media screen and (max-width: 425px){
    .paragraphGif{
        font-size: 4vw;
        width: 249%;
        margin-left: -107%;
        opacity: 0.8;
    }
}
/*Fim Caixa com o gif*/

/*Caixa Custom*/
.groupCustomization{
    display: flex;
    align-items: center;
    width: 100%;
    height: 37vw;
}
@media screen and (max-width: 425px){
    .groupCustomization{
        height: 190vw;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

.boxCustomization{
    width: 50%;
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 425px){
    .boxCustomization{
        width: 100%;
    }
}

.imgCustomization{
    width: 56%;
}
@media screen and (max-width: 425px){
    .imgCustomization{
        width: 91%;
    }
}

.boxTextCustomization{
    width: 35%;
    height: 19vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 2%;
}
@media screen and (max-width: 425px){
    .boxTextCustomization{
        width: 76%;
        height: 66vw;
    }
}

.titleCustomization{
    font-size: 3vw;
    color: #22254B;
    font-family: Roboto;
}
@media screen and (max-width: 425px){
    .titleCustomization{
        font-size: 9vw;
    }
}

.subTitleCustomization{
    font-size: 1.4vw;
    color: #22254B;
}
@media screen and (max-width: 425px){
    .subTitleCustomization{
        font-size: 5vw;
        width: 77%;
        opacity: 0.8;
    }
}

.paragraphCustomization{
    width: 55%;
    font-size: 1vw;
    font-weight: bold;
    color: #22254B;
}
@media screen and (max-width: 425px){
    .paragraphCustomization{
        font-size: 4vw;
        width: 84%;
    }
}

.boxBtnCustomization{
    height: 3vw;
    display: flex;
}

.btnCustomization{
    width: 37%;
    border-radius: 6px;
    font-size: 1vw;
    color: #22254B;
    font-weight: bold;
    border: none;
    background: #FFCE06;
    cursor: pointer;
    transition: 0.5s all;
}
.btnCustomization:hover{
    transform: scale(1.1);
}
@media screen and (max-width: 425px){
    .btnCustomization{
        display: none;
    }
}
/*Caixa Custom*/

/*Caixa estrategica*/
.boxStrategic{
    background: #22254B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 32vw;
}
@media screen and (max-width: 425px){
    .boxStrategic{
        justify-content: start;
        height: 81vw;
    }
}

.titleStrategic{
    color: #fff;
    font-family: Roboto;
    font-size: 5vw;
}
@media screen and (max-width: 425px){
    .titleStrategic{
        margin: 5%;
        font-size: 10.5vw;
    }
}

.paragraphStrategic{
    padding-top: 1vw;
    width: 50%;
    display: flex;
    text-align: center;
    color: #fff;
    font-size: 2vw;
}
@media screen and (max-width: 425px){
    .paragraphStrategic{
        font-size: 4vw;
        width: 56%;
        text-align: left;
        margin-right: 21%;
    }
}
/*Caixa estrategica*/

/*Caixa com os cards*/
.boxGroup{
    width: 100%;
    display: flex;
    flex-direction: column;
 }
/*
 .boxGroup .card{
     transition: .5s;
 }
 
 .boxGroup:hover .card-1{
     left: 14%;
     top: -40%;
 }

 .boxGroup:hover .card-2{
    top: -40%;
}

.boxGroup:hover .card-3{
    right: 14%;
    top: -40%;
}

.boxGroup:hover .card-4{
    left: 12%;
    top: -40%;
}

.boxGroup:hover .card-5{
    right: 12%;
    bottom: 40%;
}
 */
 @media screen and (max-width: 425px){
     .boxGroup{
        height: 74vw;
     }
    }
    /*
     .boxGroup:hover .card-1{
        left: -21%;
        bottom: 0;
     }
     .boxGroup:hover .card-2{
        left: auto;
        bottom: 0;
     }
     .boxGroup:hover .card-3{
        left: auto;
        bottom: 0;
     }.boxGroup:hover .card-4{
        left: auto;
        bottom: 0;
     }.boxGroup:hover .card-5{
        left: auto;
        bottom: 0;
     }
*/

.grouping-1{
    display: flex;
    justify-content: center;
    position: relative;
    height: 20vw;
}
@media screen and (max-width: 425px){
    .grouping-1{
        height: 73vw;
        bottom: 59%;
        overflow: hidden;
    }
}

.boxParagraphSpecialists{
    background: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 15vw;
    width: 22%;
    border-radius: 8px;
    border: solid 1px #22254B;
    color: #22254B;
    position: absolute;
    left: 15%;
    bottom: 61%;
}
@media screen and (max-width: 425px){
    .boxParagraphSpecialists{
        left: -21%;
        bottom: 14%;
        width: 31%;
        height: 38vw;
    }
}

.boxManagement{
    background: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 15vw;
    width: 22%;
    border-radius: 8px;
    border: solid 1px #22254B;
    color: #22254B;
    position: absolute;
    right: 15%;
    bottom: 61%;
}
@media screen and (max-width: 425px){
    .boxManagement{
        left: 90%;
        bottom: 14%;
        width: 31%;
        height: 38vw;
    }
}

.paragraphSpecialists, .paragraphManagement, .paragraphProfessionals{
    display: flex;
    text-align: center;
    font-size: 1.5vw;
    width: 92%;
}

.boxStartups{
    background: #fff;
    width: 22%;
    height: 24vw;
    border-radius: 8px;
    border: solid 1px #22254B;
    color: #22254B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 2%;
    position: absolute;
    top: -36%;
}
@media screen and (max-width: 425px){
    .boxStartups{
        text-align: center;
        width: 63%;
        height: 59vw;
        top: 17%;
    }
}

.imgGroup{
    width: 80%;
}

.paragraphStartups{
    width: 95%;
    font-size: 1.5vw;
}
@media screen and (max-width: 425px){
    .paragraphStartups{
        font-size: 4vw;
        width: 74%;
    }
}

.grouping-2{
    display: flex;
    justify-content: center;
    position: relative;
    height: 24vw;
}
@media screen and (max-width: 425px){
    .grouping-2{
        display: none;
    }
}

.boxProfessionals{
    background: #fff;
    width: 22%;
    height: 24vw;
    border-radius: 8px;
    border: solid 1px #22254B;
    color: #22254B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 2%;
    position: absolute;
    left: 13%;
    bottom: 43%;
}

.boxBusines{
    background: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 13.5vw;
    width: 22%;
    border-radius: 8px;
    border: solid 1px #22254B;
    color: #22254B;
}

.boxDistributed{
    background: #fff;
    width: 22%;
    height: 24vw;
    border-radius: 8px;
    border: solid 1px #22254B;
    color: #22254B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 2%;
    position: absolute;
    right: 13%;
    bottom: 43%;
}

.paragraphBusines{
    display: flex;
    align-items: center;
    font-size: 1.5vw;
    height: 9vw;
    width: 88%;
}

.paragraphDistributed{
    display: flex;
    text-align: center;
    width: 80%;
    font-size: 1.5vw;
}
/*Caixa com os cards*/


footer{
    background: linear-gradient(rgba(83, 33, 196, 0.1) 10%, rgba(34, 37, 75, 0.1) 100%);
}

.boxFree{
    width: 100%;
    height: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
@media screen and (max-width: 425px){
    .boxFree{
        height: 123vw;
    }
}

.titleFree{
    font-size: 3.5vw;
    color: #22254B;
    font-family: Roboto;
}
@media screen and (max-width: 425px){
    .titleFree{
        font-size: 9vw;
    }
}

.paragraphFree{
    font-size: 1.6vw;
    width: 61%;
    color: #22254B;
}
@media screen and (max-width: 425px){
    .paragraphFree{
        font-size: 4.5vw;
        width: 70%;

    }
}

@media screen and (max-width: 425px){
    .line{
        display: none;
    }
}

.btnFree{
    width: 13%;
    height: 3vw;
    border-radius: 6px;
    font-size: 1.2vw;
    color: #22254B;
    font-weight: bold;
    border: none;
    background: #FFCE06;
    cursor: pointer;
    transition: 0.5s all;
}
.btnFree:hover{
    transform: scale(1.1);
}
@media screen and (max-width: 425px){
    .btnFree{
        width: 42%;
        height: 12vw;
        font-size: 4vw;
    }
}

.line{
    margin-left: 18%;
    border: 0.5px solid #22254B;
    opacity: 0.1;
    width: 62%;
}

.boxsFooter{
    display: flex;
    align-items: center;
    height: 31vw;
}
@media screen and (max-width: 425px){
    .boxsFooter{
        flex-direction: column;
        width: 100%;
        height: 100vw;
        align-items: center;
    }
}

.boxFooter{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 63vw;
}
@media screen and (max-width: 425px){
    .boxFooter{
        height: 223vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.boxTextFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 44%;
}
@media screen and (max-width: 425px){
    .boxTextFooter{
        width: 80%;
        height: 45vw;
    }
}

.subtitleFooter{
    width: 27%;
    margin: 0 27% 3%;
    font-size: 1.8vw;
    color: #22254B;
}
@media screen and (max-width: 425px){
    .subtitleFooter{
        font-size: 4.5vw;
        width: 25%;
        margin-left: 5%;
    }
}


.paragraphFooter{
    font-size: 1.2vw;
    width: 71%;
    margin-left: 27%;
    margin-bottom: 4%;
    color: #22254B;
}
@media screen and (max-width: 425px){
    .paragraphFooter{
        margin-left: 5%;
        font-size: 4vw;
        width: 89%;
    }
}

.boxsStrytegy{
    display: flex;
    align-items: center;
    
}
@media screen and (max-width: 425px){
    .boxsStrytegy{

    }
}

.logoFooter{
    width: 10%;
    margin-left: 27%;
    margin-right: 3%;
}
@media screen and (max-width: 425px){
    .logoFooter{
        width: 10%;
        margin-left: 5%;
        margin-right: 3%;
    }
}

.boxNavFooter{
    width: 50%;
    display: flex;
    text-align: center;
    margin-bottom: 2%;
    justify-content: space-around;
}
@media screen and (max-width: 425px){
    .boxNavFooter{
        width: 73%;
        height: 34vw;
        margin-top: 5%;
    }
}

.boxStories{
    width: 30.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 425px){
    .boxStories{
        display: none;
    }
}

.boxSocial{
    width: 30.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 425px){
    .boxSocial{
        width: 50%;
    }
}

.boxHelp{
    width: 30.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 425px){
    .boxHelp{
        width: 50%;
        height: 50vw;
    }
}

.subtitleFooterNav{
    font-size: 1.8vw;
    width: 38%;
    margin-top: 15%;
    margin-bottom: 8%;
}
@media screen and (max-width: 425px){
    .subtitleFooterNav{
        font-size: 7vw;
        width: 77%;
    }
}


.listSocialNetworks{
    width: 60%;
    height: 8vw;
}
@media screen and (max-width: 425px){
    .listSocialNetworks{
        width: 69%;
        height: 18vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.listHelp{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 12vw;
}
@media screen and (max-width: 425px){
    .listHelp{
        justify-content: space-between;
        width: 98%;
        height: 24vw;
    }
}


@media screen and (max-width: 425px){
    .listNavFooter{

    }
}

.linkNavFooter{
    font-size: 1.2vw;
    color: #22254B;
}
@media screen and (max-width: 425px){
    .linkNavFooter{
        font-size: 4vw;
    }
}

.linkNavFooterDifferent{
    font-size: 1.2vw;
    color: #22254B;
    text-transform: uppercase;
}
@media screen and (max-width: 425px){
    .linkNavFooterDifferent{
        font-size: 4vw;
    }
}

.strytegy{
    opacity: 0.8;
    font-size: 1.3vw;
}
@media screen and (max-width: 425px){
    .strytegy{
        font-size: 4vw;
    }
}

